body {
	width: 100%;
	margin: 0;
	font-family: "Verdana", Verdana, serif;
}

	#wrapper {
		width: 340px;
		margin: 10% auto;

	}
		#wrapper img {
			width: 100%;
			margin: 0 auto;
			display: block;
		}

		form {
		}

			form input {
				border: none;
				background: #953635;
				color: white;
			}
				form input {
					border-radius: 5px;
				}
					form input[type='file'] {
						padding: 5px 5px;
						width: 75%;
					}
					form input[type='submit'] {
						padding: 8px 10px;
						width: 20%;
						cursor: pointer;
					}